@font-face {
  font-family: "ITC Avant Garde Gothic Std";
  src: url("./utils/ITCAvantGardeStdBk.otf");
  font-style: normal;
}

.App {
  /* font-family: Circular Std Book; */
  font-family: "ITC Avant Garde Gothic Std";
}

body {
  margin: 0;
  overflow-x: hidden;
}
